.add-bar {
  padding: 5;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 10;
}
.add-bar TextField {
  padding: 10;
}
Label {
  background-color: white;
  border-bottom-width: 1;
  border-bottom-color: gray;
}
.delete-view {
  background-color: rgba(0, 203, 203, 0.39);
  padding: 20;
}
.delete-view Image {
  color: white;
}
.grocery-list-item Label{
    padding: 30px;
}